<?xml version="1.0"?>
<launch>
    <node pkg="dcontroller" type="dcontroller" name="dcontroller" output="screen">
    </node>

    <node pkg="dplanning" type="dplanning" name="dplanning" output="screen">
      <!-- type of path planning -->
      <param name="planning" value="2"/>
    </node>
</launch>
