<?xml version="1.0"?>
<launch>
    <!-- Controller -->
    <node pkg="dcontroller" type="dcontroller" name="dcontroller" output="screen">
    </node>

    <!-- Planning -->
    <node pkg="dplanning" type="dplanning" name="dplanning" output="screen">
      <!-- type of path planning -->
      <param name="planning" value="1"/>
    </node>
    
    <!-- Local Mapping -->
    
    <node name="ring_buffer" pkg="ewok_ring_buffer" type="realtime_example" output="screen">

      <param name="map_rate" value="5" type="double"/>
      <param name="publish_rate" value="5" type="double"/>

    </node>

    <!-- 
    <node name="dmapping" pkg="dmapping" type="mapping_example" output="screen">

      <param name="map_rate" value="5" type="double"/>
      <param name="publish_rate" value="5" type="double"/>

    </node>
 -->
    <!-- <node name="ring_buffer" pkg="ewok_ring_buffer" type="realtime_example" output="screen">
    </node> -->
</launch>
